<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="renderer" class="ru.itpark.messages.MessageRendererStandardOutImpl">
        <constructor-arg name="message" ref="message"/>
    </bean>
    <!--Определил бин-->
    <bean id="message" class="ru.itpark.messages.MessageHelloImpl">
        <constructor-arg name="text" value="Дмитрий"/>
    </bean>

    <bean id="marsel" class="ru.itpark.human.Human" scope="prototype">
        <property name="age" value="23"/>
        <property name="height" value="1.85"/>
        <property name="name" value="Marsel"/>
    </bean>
</beans>