<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <servlet>
        <servlet-name>usersServlet</servlet-name>
        <servlet-class>ru.itpark.servlets.UsersServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>usersJspServlet</servlet-name>
        <servlet-class>ru.itpark.servlets.UsersJspServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>usersServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>usersJspServlet</servlet-name>
        <url-pattern>/users_as_jsp</url-pattern>
    </servlet-mapping>
</web-app>