<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="restaurant" class="ru.itpark.xml.Restaurant">
        <property name="waiter" ref="grandmotherWaiter"/>
    </bean>

    <bean id="friendlyWaiter" class="ru.itpark.xml.FriendlyWaiterImpl"/>
    <bean id="grandmotherWaiter" class="ru.itpark.xml.GrandmotherWaiterImpl"/>
</beans>